.font {
  color: #292b2c;
  font-size: 12px;
  font-family: '-apple-system';
  font-weight: 1.5;
  padding: auto;
  margin: 20px;
}

.input{
  color: #292b2c;
  font-size: 10px;
  font-family: '-apple-system';
  font-weight: 1.5;
  padding: auto;
  margin: 20px;
}

.table {
  width: 550px;
  
}

.table,
.font
.row,
.cell {
  margin: 40px; overflow: hidden;
  color: #292b2c;
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 1.5;
  padding: auto;
  text-align: center;
}

.cellRight {
  margin: 40px; overflow: hidden;
  color: #292b2c;
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 1.5;
  padding: auto;
  text-align: right;
}

.table {
  border: 1px solid  #000; padding: 20px;
}

.row {
  border: 3px solid  #000;
}

.cell {
  border: 1px solid  #000; padding: 20px;
  align-self: center;
}

.label {
  margin: 5px;
}

.button {
  margin: 5px;
}

.form {
  width: 700px;
  margin: 10px; overflow: hidden;
  border: 1px solid  #000; padding: 3px;
  color: #292b2c;
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 1.5;
  text-align: center;
}